<template>
    <quiz :state="state" :connection="connection" :server="server">
        <template slot="title">Quiz Admin</template>

        <template slot-scope="quiz">
            <div v-if="quiz.ended">
                <h1>Résultats (top 10)</h1>
                <ul>
                    <li v-for="player in topPlayers">{{ scores[player].position }}. {{ server.players[player].name }} - {{ scores[player].score }} points</li>
                </ul>
            </div>
            <template v-else-if="quiz.started">
                <question
                    v-bind:disabled="true"
                    v-bind:category="question.category"
                    v-bind:wording="question.wording"
                    v-bind:answers="question.answers"
                    v-bind:requiredAnswers="question.requiredAnswers"
                    v-bind:solution="question.solution"
                    v-bind:resolution="question.resolution"
                    v-bind:points="question.points">
                </question>

                <template v-if="question.details">
                    <button v-on:click="toggleDetails">Voir la preuve</button>
                    <div id="details" style="display: none" v-html="question.details"></div>
                </template>

                <button v-if="question.solution.length === 0" class="btn btn-block btn-warning p-2 m-2" v-on:click="sendAnswer">
                    Afficher la réponse
                </button>
                <button v-else-if="question.hasNext" class="btn btn-block btn-warning p-2 m-2" v-on:click="sendQuestion">
                    Question suivante
                </button>
                <button v-else class="btn btn-block btn-warning p-2 m-2" v-on:click="sendScores">
                    Afficher les scores
                </button>

                <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" :style="'width: '+progress+'%;'" :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">
                        <span>{{ progress }}%</span>
                    </div>
                </div>
            </template>
            <button v-else class="btn btn-block btn-warning p-2 m-2" v-on:click="start">
                Start the Quiz
            </button>
        </template>
    </quiz>
</template>

<script>
import Chartkick from 'chartkick';
import VueChartkick from 'vue-chartkick';
import Chart from 'chart.js';

import Vue from 'vue';
Vue.use(VueChartkick, { Chartkick });

import QuizApp from '../mixins/QuizApp';
import Notifier from '../mixins/Notifier';

import Quiz from './Quiz';
import Question from './Question';

import jQuery from 'jquery';

export default {
    name: 'admin',

    mixins: [ QuizApp, Notifier ],
    components: { Question, Quiz },

    data: () => {
        return {
        };
    },

    computed: {
        progress: function() {
            return this.totalConnectedPlayers > 0 ?
                this.totalAnswered * 100 / this.totalConnectedPlayers :
                100;
        },
        totalConnectedPlayers: function() {
            return this.server.connectedPlayers.length;
        },
        totalAnswered: function() {
            return this.question.totalAnswered;
        },
        totalDisconnectedPlayers: function() {
            return Object.keys(this.server.players).length - this.totalConnectedPlayers;
        }
    },

    events: {
        // The connection to the server is successfull, auth as admin
        open: function() {
            this.auth();
        },
        // A user just connect (or reconnect)
        playerConnection: function(data) {
            this.notification({message: data.user.name+' s\'est connecté'});
        },
        // A user just disconnect
        playerDisconnection: function(data) {
            this.notification({message: data.user.name+' s\'est déconnecté', type: 'warn'});
        },
        // A user answered the current question
        playersAnswered: function(data) {
            if(data.question === this.question.id) {
                this.question.totalAnswered = data.totalAnswered;
            }
        }
    },

    methods: {
        auth: function() {
            this.send('authAdmin', window.config.admin);
        },
        start: function() {
            this.send('start');
        },
        sendAnswer: function() {
            this.send('sendAnswer');
        },
        sendQuestion: function() {
            this.send('sendNext');
        },
        sendScores: function() {
            this.send('sendScores');
        },
        toggleDetails: function() {
             jQuery('#details').toggle();
        }
    }
}
</script>

<style>
</style>
