<template>
    <quiz :state="state" :connection="connection" :server="server">
        <template v-if="connected && !name">
            <modal v-bind:closeButton="false">
                <validatedInput v-on:input="name = $event" placeholder="exemple: Tom Jones">
                    <h1 slot="title">Quel est votre nom ?</h1>
                </validatedInput>
            </modal>
        </template>

        <template v-if="ended">
            <h1>Votre place : {{ score.position }}</h1>
            <h2 id="myscore">Votre score : {{ score.score }}</h2>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button class="btn btn-lg" :class="displayScore === 0 ? 'btn-info' : ''" v-on:click="displayScore = 0">Graphique</button>
                <button class="btn" :class="displayScore === 1 ? 'btn-info' : ''" v-on:click="displayScore = 1">Détails des réponses</button>
            </div>

            <pie-chart v-if="displayScore === 0" :data="scoreData"></pie-chart>
            <table v-else class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="question in questions">
                        <th scope="row">{{ question.id }}</th>
                        <td>
                            <table class="table text-dark">
                                <tr>
                                    <td>Question : {{ question.wording }}</td>
                                </tr>
                                <tr>
                                    <td v-if="score.answers[question.id].length === 0">Pas de réponse</td>
                                    <td v-else-if="score.answers[question.id].length === 1">Ma réponse : {{ question.answers[score.answers[question.id][0]] }}</td>
                                    <td v-else>Mes réponses :
                                        <span v-for="(answer, index) in score.answers[question.id]">
                                            {{ question.answers[answer] }}
                                            <template v-if="index+2 < score.answers[question.id].length">, </template>
                                            <template v-else-if="index+2 === score.answers[question.id].length"> et </template>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td v-if="question.solution.constructor !== Array">La bonne réponse : {{ question.answers[question.solution] }}</td>
                                    <td v-else-if="question.solution.length === 1">La bonne réponse : {{ question.answers[question.solution[0]] }}</td>
                                    <td v-else>Les bonnes réponses :
                                        <span v-for="(correct, index) in question.solution">
                                            {{ question.answers[correct] }}
                                            <template v-if="index+2 < question.solution.length">, </template>
                                            <template v-else-if="index+2 === question.solution.length">
                                                <template v-if="question.resolution === 'one'"> ou </template>
                                                <template v-else> et </template>
                                            </template>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template v-else-if="started">
            <question
                v-bind:disabled="disconnected"
                v-bind:category="question.category"
                v-bind:wording="question.wording"
                v-bind:answers="question.answers"
                v-bind:answer="answers[question.id]"
                v-bind:requiredAnswers="question.requiredAnswers"
                v-bind:solution="question.solution"
                v-bind:resolution="question.resolution"
                v-bind:points="question.points"
                v-on:input="sendMyAnswer($event)">
            </question>
            <template v-if="question.details">
                <button v-on:click="toggleDetails">Voir la preuve</button>
                <div id="details" style="display: none" v-html="question.details"></div>
            </template>
        </template>
        <template v-else>
            <h1 class="cover-heading">En attente du démarrage du quiz</h1>
            <p class="lead"><spinner color="#fff"></spinner></p>
        </template>
    </quiz>
</template>

<script>
import Chartkick from 'chartkick';
import VueChartkick from 'vue-chartkick';
import Chart from 'chart.js';

import Vue from 'vue';
Vue.use(VueChartkick, { Chartkick });

import QuizApp from '../mixins/QuizApp';

import Modal from './Modal';
import Spinner from './Spinner';
import ValidatedInput from './ValidatedInput';
import Quiz from './Quiz';
import Question from './Question';

export default {
    name: 'app',

    mixins: [ QuizApp ],
    components: { Modal, Spinner, ValidatedInput, Question, Quiz },

    data: () => {
        return {
            name: null,
            displayScore: 0
        };
    },

    computed: {
        score: function() {
            return this.scores[this._clientId];
        },
        scoreData: function() {
            var totalGood = this.questions.filter(question => question.answer === this.score.answers[question.id]).length;
            return [
                ['Bonnes réponses', totalGood],
                ['Mauvaises réponses', this.questions.length - totalGood]
            ];
        }
    },

    events: {
        // In case of disconnection due to server fault
        // Send back the name defined
        open: function() {
            if(this.name) {
                this.sendMyName();
            }
        }
    },

    methods: {
        sendMyName: function() {
            this.send('myName', this.name);
        },
        sendMyAnswer: function(answer) {
            this.send('myAnswer', {
                question: this.question.id,
                answer: answer
            });
        }
    },

    watch: {
        name: function() {
            this.sendMyName();
        }
    }
}
</script>

<style>
</style>
