<template>
    <fieldset class="container-fluid" :disabled="disabled || solution.length > 0">
        <h2 style="text-decoration: underline;" v-if="category">{{ category }}</h2>
        <h2>{{ wording }}</h2>
        {{ additionalInformations }}
        <div class="row">
            <div v-for="(answerTxt, answerId) in answers" v-bind:class="answers.length % 2 === 0 || (answers.length > 4 && answerId !== answers.length - 1) ? 'col-12 col-md-6' : 'col-12'">
                <button v-on:click="setAnswer(answerId)" class="btn btn-block p-2 m-2 animated-button victoria-one" style="white-space: normal;" v-bind:class="buttonClass(answerId)">
                    {{ answerTxt }}
                </button>
            </div>
        </div>
    </fieldset>
</template>

<script>
export default {
    name: 'question',
    props: {
        disabled: {
            type: Boolean,
            default: false
        },
        category: {
            type: String,
            default: ''
        },
        wording: {
            type: String,
            required: true
        },
        answers: {
            type: Array,
            required: true
        },
        answer: {
            type: Array,
            default: function() { return []; }
        },
        requiredAnswers: {
            type: Number,
            default: 1
        },
        solution: {
            type: Array,
            default: function() { return []; }
        },
        resolution: {
            type: String,
            default: 'all'
        },
        points: {
            type: Number,
            default: 1
        }
    },
    computed: {
        additionalInformations: function() {
            if(this.requiredAnswers > 1 && this.resolution === 'all') {
                return this.requiredAnswers+' réponses à donner';
            }
            if(this.requiredAnswers > 1 && this.resolution === 'one') {
                return this.requiredAnswers+' réponses possibles';
            }
        }
    },
    data: function() {
        return {
            chosenAnswers: this.answer
        };
    },
    methods: {
        buttonClass: function(answerId) {
            if(this.solution.indexOf(answerId) !== -1) {
                return 'btn-success';
            } else if(this.chosenAnswers.indexOf(answerId) !== -1 && this.solution.length === 0) {
                if (this.chosenAnswers.length === this.requiredAnswers) {
                    return 'btn-info';
                } else {
                    return 'btn-warning';
                }
            } else if(this.chosenAnswers.indexOf(answerId) !== -1) {
                return 'btn-danger';
            }
            return 'btn-light';
        },
        setAnswer: function(answerId) {
            if(this.chosenAnswers.indexOf(answerId) === -1) {
                if(this.chosenAnswers.length === this.requiredAnswers) {
                    this.chosenAnswers.shift();
                }
                this.chosenAnswers.push(answerId);
            } else {
                this.chosenAnswers.splice(this.chosenAnswers.indexOf(answerId), 1);
            }
            this.$emit('input', this.chosenAnswers);
        }
    },
    watch: {
        wording: function() {
            this.chosenAnswers = [];
        }
    }
}
</script>

<style>
</style>
