<template>
    <div class="d-flex align-items-stretch container-fluid px-0" style="overflow: auto">
        <div class="collapse sidebar position-absolute sidebar-sticky w-25 h-100" id="sidebarToggleContent">

            <div class="bg-dark sidebar-sticky h-100 p-4" style="width: calc(100% - 2rem)">
                <h2 class="mb-2">Participants</h2>

                <ul class="flex-column pl-0 text-truncate">
                    <li v-for="playerId in server.connectedPlayers">{{ server.players[playerId].name }}</li>
                </ul>
            </div>

            <button type="button" class="position-absolute btn btn-primary navbar-toggler" data-toggle="collapse" data-target="#sidebarToggleContent" aria-controls="sidebarToggleContent" aria-expanded="false" aria-label="Toggle list of connected players" style="right: 0; top: 2rem">
                <span class="badge badge-light">✖</span>
            </button>
        </div>

        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand"><slot name="title">Quiz</slot></h3>
                </div>

                <button type="button" class="btn btn-primary navbar-toggler" data-toggle="collapse" data-target="#sidebarToggleContent" aria-controls="sidebarToggleContent" aria-expanded="false" aria-label="Toggle list of connected players">
                    <span>👨‍👩‍👧‍👦</span> <span class="badge badge-light">{{ totalConnectedPlayers }}</span>
                    <span class="sr-only">Participants</span>
                </button>
            </header>

            <main role="main" class="inner cover">
                <template v-if="neverConnected">
                    <h1 class="cover-heading">En attente de connexion au serveur</h1>
                    <p class="lead"><spinner color="#fff"></spinner></p>
                </template>
                <template v-else>
                    <template v-if="disconnected">
                        <modal v-bind:closeButton="false">
                            <p>Connection au serveur perdue. Reconnection en cours...</p>
                            <p><spinner></spinner></p>
                        </modal>
                    </template>

                    <slot v-bind:started="started" v-bind:ended="ended"></slot>
                </template>
            </main>
<!--
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Application par Jérémy L.</p>
                </div>
            </footer>
-->
        </div>
    </div>
</template>

<script>
import Modal from './Modal';
import Spinner from './Spinner';

import { ComponentStateHandler } from '../mixins/StateHandler';
import { ComponentConnectionHandler } from '../mixins/ConnectionHandler';

export default {
    name: 'quiz',

    mixins: [ ComponentConnectionHandler, ComponentStateHandler ],
    components: { Modal, Spinner },

    props: ['connection', 'state', 'server'],

    computed: {
        totalConnectedPlayers: function() {
            return this.server.connectedPlayers.length;
        }
    }
}
</script>

<style>
#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
</style>
