<template>
    <form v-on:submit.prevent="setValue">
        <div class="form-group">
            <fieldset v-bind:disabled="disabled">
                <label>
                    <slot name="title"><span>Value: </span></slot>
                    <input v-bind="$attrs" type="text" v-model="tmpValue" v-bind:placeholder="placeholder" class="form-control" required />
                </label>
                <button v-if="showSubmit" type="submit" class="btn btn-secondary btn-block p-2 m-2">Valider</button>
            </fieldset>
        </div>
    </form>
</template>

<script>
export default {
    name: 'validatedInput',
    inheritAttrs: false,
    props: {
        placeholder: String,
        showSubmit: {
            type: Boolean,
            default: true
        },
        disabled: {
            type: Boolean,
            default: false
        },
        value: String
    },
    data: () => {
        return {
            tmpValue: this.value
        }
    },
    methods: {
        setValue: function() {
            this.$emit('input', this.tmpValue);
        }
    }
}
</script>

<style>

</style>
