<template>
</template>

<script>
import { ConnectionEnum } from '../constants.js';

export var ComponentConnectionHandler = {
    data: () => {
        return {};
    },
    computed: {
        neverConnected: function() {
            return this.connection === ConnectionEnum.NEW;
        },
        connected: function() {
            return this.connection !== ConnectionEnum.DISCONNECTED;
        },
        disconnected: function() {
            return this.connection === ConnectionEnum.DISCONNECTED;
        }
    },
    methods: {
        connect: function() {
            this.connection = ConnectionEnum.CONNECTED;
        },
        disconnect: function() {
            this.connection = ConnectionEnum.DISCONNECTED;
        }
    }
};

export var ConnectionHandler = {
    mixins: [ ComponentConnectionHandler ],
    data: () => {
        return {
            connection: ConnectionEnum.NEW
        };
    }
};
</script>

<style>
</style>