<template>
</template>

<script>
import WebSocket from '../mixins/WebSocket';
import { StateHandler } from '../mixins/StateHandler';

// Tell Vue how to merge events object
import Vue from 'vue';
var strategies = Vue.config.optionMergeStrategies;
strategies.events = strategies.methods;

export default {
    mixins: [ WebSocket, StateHandler ],

    data: () => {
        return {
            server: {
                players: {},
                connectedPlayers: [],
            },
            questions: {},
            question: null,
            answers: [],
            scores: {}
        };
    },

    computed: {
        topPlayers: function() {
            return Object.keys(this.scores).slice(0, 10);
        }
    },

    methods: {
        beforeEvent: function(data) {
            if(data && data.connectedPlayers) {
                this.server.players = data.players;
                this.server.connectedPlayers = data.connectedPlayers;
            }
        }
    },

    events: {
        // The server sent a new question to answer
        question: function(data) {
            this.question = Object.assign({}, data.question, {
                solution: [],
                details: null,
                totalAnswered: 0
            });
        },
        // The server sent the correct answer
        // to the current question
        solution: function(data) {
            this.question.solution = data.solution;
            this.question.details = data.details;
        },
        state: function(data) {
            this.state = data.state;
        },
        scores: function(data) {
            this.questions = data.questions;
            this.scores = data.scores;
        }
    }
}
</script>

<style>
</style>
