<template>
</template>

<script>
import { StateEnum } from '../constants.js';

export var ComponentStateHandler = {
    data: () => {
        return {};
    },
    computed: {
        started: function() {
            return this.state === StateEnum.QUESTIONS || this.ended;
        },
        ended: function() {
            return this.state === StateEnum.SCORES;
        }
    }
};

export var StateHandler = {
    mixins: [ ComponentStateHandler ],
    data: () => {
        return {
            state: StateEnum.WAITING
        };
    }
};
</script>

<style>
</style>