<template>
</template>

<script>
import { ConnectionHandler } from './ConnectionHandler';

export default {
    mixins: [ ConnectionHandler ],
    data: () => {
        return {
            _socket: null,
            _clientId: null,
            _pingInterval: null
        };
    },
    created: function() {
        this._connect();
    },
    events: {
        id: function(data) {
            let oldId = this._clientId ? this._clientId : localStorage.getItem('id');
            if(oldId) {
                this.send('myOldId', oldId);
            }

            this._clientId = data.id;
            localStorage.setItem('id', this._clientId);
        },
        pong: function(data) {
            // Don't do anything
        }
    },
    methods: {
        _callEvent: function(type, data) {
            this.beforeEvent(data);

            if(this.$options.events[type]) {
                this.$options.events[type].apply(this, [data]);
            }
        },
        beforeEvent: function(data) {
            // nothing
        },
        send: function(messageType, messageData) {
            let data = {type: messageType, data: messageData};
            if(data.type !== 'ping') console.debug('message sent', data);

            let message = JSON.stringify(data);
            this._socket.send(message);
        },
        _open: function() {
            this._pingInterval = setInterval(() => {
                this._ping();
            }, 1000);
            this.$reconnectTimeout = 0;
            this.connect();
            this._callEvent('open');
        },
        _receive: function (message) {
            let data = JSON.parse(message.data);
            if(data.type !== 'pong') console.debug('message received', data);
            this._callEvent(data.type, data.data);
        },
        _ping: function() {
            this.send('ping');
        },
        _error: function() {

        },
        _close: function(e) {
            // If the connection immediatly fail, _close is called
            // but we don't want the close event to be called
            if(this._pingInterval) {
                console.debug('Closing: '+e.code+' ('+e.reason+')');
                clearInterval(this._pingInterval);
                this._pingInterval = null;
                this.disconnect();
                this._callEvent('close');
            }

            this._reconnect();
        },
        _connect: function() {
            this._socket = new WebSocket(window.config.socket);

            this._socket.onopen = this._open;
            this._socket.onmessage = this._receive;
            this._socket.onerror = this._error;
            this._socket.onclose = this._close;
        },
        _reconnect: function(timeout) {
            this._callEvent('reconnect');
            setTimeout(() => {
                this._connect();
            }, 2000);
        }
    }
}
</script>

<style>
</style>
